@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("../fonts/Pretendard-Black.woff2") format("woff2"),
    url("../fonts/Pretendard-Black.woff") format("woff"),
    url("../fonts/Pretendard-Black.otf") format("otf");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.woff2") format("woff2"),
    url("../fonts/Pretendard-ExtraBold.woff") format("woff"),
    url("../fonts/Pretendard-ExtraBold.otf") format("otf");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.woff2") format("woff2"),
    url("../fonts/Pretendard-Bold.woff") format("woff"),
    url("../fonts/Pretendard-Bold.otf") format("otf");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("../fonts/Pretendard-SemiBold.woff") format("woff"),
    url("../fonts/Pretendard-SemiBold.otf") format("otf");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.woff2") format("woff2"),
    url("../fonts/Pretendard-Medium.woff") format("woff"),
    url("../fonts/Pretendard-Medium.otf") format("otf");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2"),
    url("../fonts/Pretendard-Regular.woff") format("woff"),
    url("../fonts/Pretendard-Regular.otf") format("otf");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.woff2") format("woff2"),
    url("../fonts/Pretendard-Light.woff") format("woff"),
    url("../fonts/Pretendard-Light.otf") format("otf");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url("../fonts/Pretendard-ExtraLight.woff2") format("woff2"),
    url("../fonts/Pretendard-ExtraLight.woff") format("woff"),
    url("../fonts/Pretendard-ExtraLight.otf") format("otf");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("../fonts/Pretendard-Thin.woff2") format("woff2"),
    url("../fonts/Pretendard-Thin.woff") format("woff"),
    url("../fonts/Pretendard-Thin.otf") format("otf");
}
body,
html {
  font-size: 14px !important;
}
